<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.demo.infra.mapper.InvoiceApplyHeaderMapper">


    <sql id = "BaseSql">
        4iah.apply_header_id,
        4iah.apply_header_number,
        4iah.apply_status,
        4iah.ATTRIBUTE1,
        4iah.ATTRIBUTE10,
        4iah.ATTRIBUTE11,
        4iah.ATTRIBUTE12,
        4iah.ATTRIBUTE13,
        4iah.ATTRIBUTE14,
        4iah.ATTRIBUTE15,
        4iah.ATTRIBUTE2,
        4iah.ATTRIBUTE3,
        4iah.ATTRIBUTE4,
        4iah.ATTRIBUTE5,
        4iah.ATTRIBUTE6,
        4iah.ATTRIBUTE7,
        4iah.ATTRIBUTE8,
        4iah.ATTRIBUTE9,
        4iah.bill_to_address,
        4iah.bill_to_email,
        4iah.bill_to_person,
        4iah.bill_to_phone,
        4iah.del_flag,
        4iah.exclude_tax_amount,
        4iah.invoice_color,
        4iah.invoice_type,
        4iah.remark,
        4iah.submit_time,
        4iah.tax_amount,
        4iah.tenant_id,
        4iah.total_amount,
        4iah.creation_date,
        4iah.created_by,
        4iah.last_updated_by,
        4iah.last_update_date,
        4iah.object_version_number
    </sql>

    <select id = "selectList" resultType = "com.hand.demo.domain.entity.InvoiceApplyHeader">
        select
        <include refid = "BaseSql"/>
        from 47361_invoice_apply_header 4iah
        <where>
            <if test="applyHeaderId !=null">
                and 4iah.apply_header_id = #{applyHeaderId,jdbcType = INTEGER}
            </if>
            <if test="applyHeaderNumber !=null">
                and 4iah.apply_header_number = #{applyHeaderNumber,jdbcType = VARCHAR}
            </if>
            <if test="applyStatus !=null">
                and 4iah.apply_status = #{applyStatus,jdbcType = VARCHAR}
            </if>
            <if test="attribute1 !=null">
                and 4iah.ATTRIBUTE1 = #{attribute1,jdbcType = VARCHAR}
            </if>
            <if test="attribute10 !=null">
                and 4iah.ATTRIBUTE10 = #{attribute10,jdbcType = VARCHAR}
            </if>
            <if test="attribute11 !=null">
                and 4iah.ATTRIBUTE11 = #{attribute11,jdbcType = VARCHAR}
            </if>
            <if test="attribute12 !=null">
                and 4iah.ATTRIBUTE12 = #{attribute12,jdbcType = VARCHAR}
            </if>
            <if test="attribute13 !=null">
                and 4iah.ATTRIBUTE13 = #{attribute13,jdbcType = VARCHAR}
            </if>
            <if test="attribute14 !=null">
                and 4iah.ATTRIBUTE14 = #{attribute14,jdbcType = VARCHAR}
            </if>
            <if test="attribute15 !=null">
                and 4iah.ATTRIBUTE15 = #{attribute15,jdbcType = VARCHAR}
            </if>
            <if test="attribute2 !=null">
                and 4iah.ATTRIBUTE2 = #{attribute2,jdbcType = VARCHAR}
            </if>
            <if test="attribute3 !=null">
                and 4iah.ATTRIBUTE3 = #{attribute3,jdbcType = VARCHAR}
            </if>
            <if test="attribute4 !=null">
                and 4iah.ATTRIBUTE4 = #{attribute4,jdbcType = VARCHAR}
            </if>
            <if test="attribute5 !=null">
                and 4iah.ATTRIBUTE5 = #{attribute5,jdbcType = VARCHAR}
            </if>
            <if test="attribute6 !=null">
                and 4iah.ATTRIBUTE6 = #{attribute6,jdbcType = VARCHAR}
            </if>
            <if test="attribute7 !=null">
                and 4iah.ATTRIBUTE7 = #{attribute7,jdbcType = VARCHAR}
            </if>
            <if test="attribute8 !=null">
                and 4iah.ATTRIBUTE8 = #{attribute8,jdbcType = VARCHAR}
            </if>
            <if test="attribute9 !=null">
                and 4iah.ATTRIBUTE9 = #{attribute9,jdbcType = VARCHAR}
            </if>
            <if test="billToAddress !=null">
                and 4iah.bill_to_address = #{billToAddress,jdbcType = VARCHAR}
            </if>
            <if test="billToEmail !=null">
                and 4iah.bill_to_email = #{billToEmail,jdbcType = VARCHAR}
            </if>
            <if test="billToPerson !=null">
                and 4iah.bill_to_person = #{billToPerson,jdbcType = VARCHAR}
            </if>
            <if test="billToPhone !=null">
                and 4iah.bill_to_phone = #{billToPhone,jdbcType = VARCHAR}
            </if>
            <if test="delFlag !=null">
                and 4iah.del_flag = #{delFlag,jdbcType = INTEGER}
            </if>
            <if test="excludeTaxAmount !=null">
                and 4iah.exclude_tax_amount = #{excludeTaxAmount,jdbcType = OTHER}
            </if>
            <if test="invoiceColor !=null">
                and 4iah.invoice_color = #{invoiceColor,jdbcType = VARCHAR}
            </if>
            <if test="invoiceType !=null">
                and 4iah.invoice_type = #{invoiceType,jdbcType = VARCHAR}
            </if>
            <if test="remark !=null">
                and 4iah.remark = #{remark,jdbcType = OTHER}
            </if>
            <if test="submitTime !=null">
                and 4iah.submit_time = #{submitTime,jdbcType = TIMESTAMP}
            </if>
            <if test="taxAmount !=null">
                and 4iah.tax_amount = #{taxAmount,jdbcType = OTHER}
            </if>
            <if test="tenantId !=null">
                and 4iah.tenant_id = #{tenantId,jdbcType = INTEGER}
            </if>
            <if test="totalAmount !=null">
                and 4iah.total_amount = #{totalAmount,jdbcType = OTHER}
            </if>
        </where>
    </select>
</mapper>